<div class="container">
  <div class="left" [formGroup]="functionFG">
    <h2 class="title">TPO Modelado y Simulación</h2>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Función f(x,t)</mat-label>
      <input matInput type="text" formControlName="functionControl" placeholder="x^2 + t">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>X<small>0</small></mat-label>
      <input matInput type="number" formControlName="xInitialControl">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>T<small>0</small></mat-label>
      <input matInput type="number" formControlName="tInitialControl">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>T<small>f</small></mat-label>
      <input matInput type="number" formControlName="tFinalControl">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>h</mat-label>
      <input matInput type="number" formControlName="hControl" (keyup)="syncAmount(1)">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>N</mat-label>
      <input matInput type="number" formControlName="nControl" (keyup)="syncAmount(0)">
    </mat-form-field>
    <button mat-raised-button class="dark-blue" (click)="calculate()">Calcular</button>
    <div class="bottom">
      <h2 class="title">Animación</h2>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        formControlName="speedControl"
      >
        <mat-radio-button class="example-radio-button" *ngFor="let speed of speedOptions" [value]="speed">
          <img [src]="'/assets/' + speed + '.png'" alt="speed">
        </mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button class="light-blue" (click)="play()">Play</button>
      <button mat-raised-button class="light-blue" (click)="reset()">Resetear</button>
    </div>
  </div>
  <plotly-plot [data]="dataToShow" [layout]="graph.layout"></plotly-plot>
</div>
